body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif';
}

.f-z-11{
    font-size: 1.1vw;
}

.f-z-12{
    font-size: 1.2vw;
}

.f-z-13{
    font-size: 1.3vw;
}

.f-z-14{
    font-size: 1.4vw;
}

.f-z-15{
    font-size: 1.5vw;
}

.f-z-16{
    font-size: 1.6vw;
}

.f-z-17{
    font-size: 1.7vw;
}